<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>R语言课程文档 | R Course Tutorials</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/icons8-r-bubbles-96.png"/>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <div class="wrapper">

      <header>
        <h1>R语言课程文档</h1>
        <p>R Course Tutorials @ East China Normal University</p>
        <p>Author: <a href="https://psychbruce.github.io">包寒吴霜 (Bruce H. W. S. Bao)</a></p>
        <p>(Updated: Dec 2025)</p>
        <div>
            <img src="img/icons8-r-100.png" />
        </div>
        <p><a href="https://github.com/psychbruce/RCourse/stargazers"><img src="https://img.shields.io/github/stars/psychbruce/RCourse?style=social" alt="GitHub-Stars" /></a></p>
        <h3>课程简介</h3>
        <p>本课程希望学生在实践中掌握R语言基础编程、数据分析与可视化技能，包括四个递进学习模块：入门与筑基、处理与操作、统计与分析、数据可视化。课程教学注重编程实践，提升社会科学研究中的数据分析实战能力，同时培养批判性思维与创造性思维。</p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <h3>Copyright 版权声明</h3>
        <p><img src="https://psychbruce.github.io/img/CC-BY-NC-SA.jpg" width="120px" height="42px" /></p>
        <p>版权声明：本套课程材料开源，使用和分享必须遵守「创作共用许可协议 CC BY-NC-SA」（作者署名-非商业用途使用-以相同方式共享），禁止售卖或商用。</p>
      </footer>

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
