<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>R语言课程材料 | R Course Materials</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/icons8-r-bubbles-96.png"/>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <div class="wrapper">

      <header>
        <h1>R语言课程材料</h1>
        <p>R Course Materials</p>
        <div>
            <img src="img/icons8-r-bubbles-96.png" />
        </div>
        <p><a href="https://github.com/psychbruce/RCourse/stargazers"><img src="https://img.shields.io/github/stars/psychbruce/RCourse?style=social" alt="GitHub-Stars" /></a></p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <h3>Copyright 版权声明</h3>
        <p><img src="https://psychbruce.github.io/img/CC-BY-NC-SA.jpg" width="120px" height="42px" /></p>
        <div>
          <blockquote>
            <p>版权声明：本套课程材料免费开源共享，主要供华东师范大学相关课程的选课学生使用。本套课程材料的版权属于以下作者，非选课人员对本材料的复制、修改、使用、分享必须遵守「创作共用许可协议 CC BY-NC-SA」（原作者署名-非商业用途使用-以相同方式共享）。本套课程材料禁止售卖或用于商业用途。</p>
          </blockquote>
        </div>
        <p>作者（Author）：<a href="https://psychbruce.github.io">包寒吴霜 (Bruce H. W. S. Bao)</a></p>
        <p>This project is maintained by <a href="https://github.com/psychbruce">psychbruce</a></p>
      </footer>

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
